.nav-home 
{
    background-color: rgb(255, 255, 255);
    margin-top: -10px;
    height: 200px;
}

/* from bootstrap.css */
.navbar-light .navbar-nav .nav-link 
{
    color: rgb(58, 58, 58);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus 
{
  color: rgb(31, 146, 60);
}
/* ****************** */

.nav-labels
{
    margin-left: 150px;
}

.nav-labels-text
{
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
    margin-right: 20px;
    font-size: 24px;
}

.plant-logo
{
    max-height: 400px;
    padding-top: 20px;
}

.d-flex
{
    padding-top: 20px;
    height: 80px;
    width: 500px;
}

.section .text_title {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
    padding-left: 30%;
  }

  .icons
  {
    color: rgb(58, 58, 58);
  }

  .icons:hover
  {
    color: rgb(59, 172, 84);
  }

  .icons_buttons
  {
    background-color: #c7cac7;
  }
h5
{
    
    padding-left: 10px;
}
p
{
    padding-left: 10px;
    color: gray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Contacts
{
    height: 100%;
    padding: 0;
    padding-bottom: 50px;
    
}
#contactList
{
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
li:hover
{
    cursor: pointer;
}
#messages
{
    height: 50px;
}
.active{

    width: 490px;
    height: 78.80px;
    background-color: rgb(138, 248, 87);
}
#contact:hover
{
    background-color: rgb(205, 226, 210);
}

#contact
{   
    padding: 0px;
}

.link-dark
{
    text-decoration: none;
}
#CustomerName
{
    padding: 5px;
    height: 75px;
    width: 100%;
    background-color: rgb(209, 207, 207);
}
#profileLink
{
    padding: 10px;
    font-size: 40px;
}
#page
{
    width: 1650px;
}
.badge
{
    margin: 10px;
    padding: 10px;
    font-size: large;
}
#conversation
{
    height: 100%;
    padding-bottom: 100px;
    overflow-y: scroll ;
    overflow-x: hidden;

}
#chat
{
    width: 100%;
    padding: 0px;
    padding-right: 10px;
}
body
{
    height: 100%;
}

.back_btn
{
    font-size: 4em;
    color:rgb(78, 80, 79);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.back_btn:hover
{
    color:rgb(59, 172, 84);
}

#page
{
    height: 100%;
    width: 100%;
}

#messagepage
{
    padding: 0px;
    height: 100%;
}

#list
{
    height: 100%;
}
html
{
    height:100%;
    padding-bottom: 85px;

}