.nav-home 
{
    background-color: rgb(255, 255, 255);
    margin-top: -10px;
    height: 150px;
}
.plant-logo
{
    max-height: 150px;
    padding-top: 20px;
}
.nav-labels-text
{
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
    margin-right: 20px;
    font-size: 24px;
}
h5
{
    
    padding-left: 10px;
}
p
{
    padding-left: 10px;
    color: gray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Contacts
{
    
    padding: 0;
}
#contactList
{
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
li:hover
{
    cursor: pointer;
}
#messages
{
    height: 50px;
}
.active{

    width: 490px;
    height: 78.80px;
    background-color: rgb(138, 248, 87);
}
#contact:hover
{
    background-color: rgb(205, 226, 210);
}

#contact
{   
    padding: 0px;
}

.link-dark
{
    text-decoration: none;
}