.form
{
    background-color: rgb(138, 248, 87);
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 75px;
}
.input
{
    border: 20px
    
}
.space
{
    padding:10px;
}

.logo
{
    width: 70%;
}
p
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkgreen;
}