body
{
    height: 1200px;
}


.nav-home 
{
    background-color: rgb(138, 248, 87);
    margin-top: -10px;
    height: 200px;
}

/* from bootstrap.css */
.navbar-light .navbar-nav .nav-link 
{
    color: rgb(58, 58, 58);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus 
{
  color: rgb(133, 114, 114);
}
/* ****************** */

.nav-labels
{
    margin-left: 150px;
}

.nav-labels-text
{
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
    margin-right: 20px;
    font-size: 24px;
}

.plant-logo
{
    max-height: 400px;
    padding-top: 20px;
}

.d-flex
{
    padding-top: 20px;
    height: 80px;
    width: 500px;
}

.section .text_title {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
    padding-left: 30%;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .icons
  {
    color: rgb(58, 58, 58);
  }

  .icons:hover
  {
    color: rgb(133, 114, 114);
  }

  .icons_buttons
  {
    background-color: #44c544;
  }

  .icons_buttons:hover
  {
    background-color: #66e066;
  }





  /* modal */

/* #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {
      opacity: 0.7;
  } */


  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */ 
    background-color: rgba(46, 46, 46, 0.6); /* white w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  #caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 75, 75);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }